<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= module %></title>
        <!--<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" rel="stylesheet">-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/resources/common.css">
        <link rel="stylesheet" href="/resources/<%= module %>.css">
    </head>
    <body>

        <% if (initState) { %>
            <script>
                window.INIT_STATE = <%- JSON.stringify(initState) %>
            </script>
        <% } %>

    <div id="app"></div>
        <script src="/resources/common.js"></script>
        <script src="/resources/vendor.js"></script>
        <script src="/resources/<%= module %>/<%= module %>.bundle.js"></script>
    </body>
</html>
