.ui.table tr.disabled td .ui.slider.checkbox,
.ui.table tr.disabled:hover .ui.slider.checkbox,
.ui.table tr.disabled td .ui.toggle.checkbox,
.ui.table tr.disabled:hover .ui.toggle.checkbox {
  pointer-events: all;
}

.actions .ui.list>.item>.icon+.content,
.actions .ui.list>.item>.image+.content {
  padding: 0;
}

.actions .ui.list a {
  pointer-events: all;
}

.ui.celled.table tr.negative td {
  border-left: 0;
  border-right: 0;
}
